@model bookshop.Models.Genre

@{
    ViewData["Title"] = "Delete Genre";
}

<form method="POST" asp-action="DeletePost">
    <input asp-for="Id" hidden /> @*because we are passing 3 parameters from view, but action will receive 2 (not the id)*@
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Genre</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" disabled />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-arrow-circle-left"></i> Back
                            </a>
                        </div>
                        <div class="col">
                            <input type="submit" value="Delete" class="btn btn-danger w-100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@*client side validation*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}