@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our bookshop</h1>
    <p>Here you can manage an online bookshop. You can add Books, edit all of them and also delete.</p>
</div>
