@model bookshop.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<form method="POST">

    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Book</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" disabled />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ShortDescription"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ShortDescription" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" class="form-control summernote" > </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="AuthorId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Author.FullName" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="GenreId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Genre.Name" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-arrow-circle-left"></i> Back
                            </a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">Delete </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* display the image on the right side of the form *@
                @if (Model.Id != 0)@* only display if the image was uploaded, if not, do nothing*@
                {
                    <img src="@WC.ImagePath@Model.Image" width="100%" style="border: 1px solid #bbb; border-radius:5px;" />
                }
            </div>
        </div>
    </div>
</form>

@*client side validation*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        // summernote disable
        $(document).ready(function () {
            $('.summernote').summernote('disable');
        });
    </script>
}
