<div class="text-center">
    <h1 class="text-info"> Order Confirmation</h1>
    <p>We have received your order and someone from our team will contact you shortly!</p>
    <img src="~/images/thanks.jpg" width="80%" />
</div>